<nav class="top-nav">
  <h1>Para Tiara</h1>
  
  <div class="nav-actions">
    <button class="icon-btn" title="Reproducir/Pausar canción" (click)="toggleAudio()">
      @if (isPlaying()) {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8"/><path d="M13 9h2v6h-2zM9 9h2v6H9z"/></svg>
        Pausa
      } @else {
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2m0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8"/><path d="m9 17 8-5-8-5z"/></svg>
        Play
      }
    </button>

    <button class="icon-btn logout-btn" title="Cerrar sesión" (click)="logOut()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24"><path d="M16 13v-2H7V8l-5 4 5 4v-3z"/><path d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2"/></svg>
      Salir
    </button>
  </div>
</nav>

<main class="main-content">
  <!-- 1. SELECTOR DE MÚSICA HORIZONTAL -->
  <section class="gallery-section">
    <h2 class="section-title">Elegí qué escuchar 🎧</h2>
    <div class="horizontal-scroll">
      @for (track of tracks; track $index) {
        
        <figure class="gallery-item card" title="Reproducir {{ track.title }}" aria-label="Reproducir {{ track.title }}" (click)="playTrack(track)">
          <div class="img-placeholder">
            <img id="portada" [src]="track.coverUrl" alt="Portada de {{ track.title }}" loading="lazy">
          </div> 
          <figcaption>
            <strong>{{ track.title }}</strong>
            <span class="muted">{{ track.artist }}</span>
          </figcaption>
        </figure>

      }
    </div>
  </section>

  <!-- 2. LA CARTA -->
  <section class="letter-section card">
    <h2 class="section-title">
      Bienvenida al... MEJOR REGALO DEL MUNDO
      <span class="title-note" aria-label="(deah que tiraba)">
        (deah que <b>ti<s class="strike">a</s>ra</b>ba)
      </span>
    </h2>
    <img id="pusheen-ballons" src="assets/images/pusheen/celebrate/pusheen-ballons.gif" alt="pusheen con globos de cumpleaños" width="80" height="80">
    <p>
      aún no sé que decir...
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, eum ipsam fugit 
      consectetur fugiat consequuntur similique nemo in harum doloremque veritatis nobis, 
      voluptatum pariatur nulla atque cum. Perferendis, dolorem quos!
    </p>
  </section>

  <!-- 3. SELECCIÓN DE DESTINOS -->
  <section class="categories-section"> 
    <h2 class="section-title">¡Elegí tu próximo destino!</h2>
    <ul class="category-list">
      @for (destination of destinations; track destination.id) {
      <li>
        <a  title="Ir a {{ destination.title }}" (click)="handleDestinationClick(destination)">
          {{ destination.icon }} {{ destination.title }}
        </a>
      </li>
    }
    </ul>
  </section>
  
  <!-- EL MODAL SECRETO -->
  <dialog #secretDialog class="secret-dialog card">
    @if (!showSecretInput()) {
      <div class="modal-icon" id="secret-icon">🔒</div>
      <h3 class="section-title">Acceso Restringido</h3>
      <p>Para desbloquear esta sección, vas a tener que encontrar la contraseña oculta en los otros destinos...</p>
      
      <div class="modal-actions">
        <button class="modal-btn" (click)="closeModal()">Entendido</button>
        <button class="text-btn" (click)="enableSecretInput()">Ya tengo la clave</button>
      </div>
    } @else {
      <div class="modal-icon" [class.shake]="secretError()">
        <img src="assets/images/pusheen/writing-cat.gif" alt="Pusheen escribiendo" width="150" loading="lazy">
      </div>
      <h3 class="section-title">Ingresá la clave</h3>
      <p>Si ya exploraste todo, decime cuál es la palabra secreta:</p>
      
      <div class="modal-input-group" [class.shake]="secretError()">
        <input 
          #secretPass 
          type="password" 
          placeholder="Tu contraseña..." 
          (keyup.enter)="verifySecret(secretPass)"
        >
      </div>

      @if (secretError()) {
        <p> (┬┬﹏┬┬) MAL!!</p>
      }

      <div class="modal-actions">
        <button class="modal-btn" (click)="verifySecret(secretPass)">Desbloquear</button>
        <button class="text-btn" (click)="closeModal()">Cancelar</button>
      </div>
    }
  </dialog>
</main>