<article class="card">
  <header>
    <h1>¿Sos la verdadera Tiara?</h1>
    <img class="emoji-pusheen" src="assets/images/pusheen/emotions/angry/pusheen-suspicious.gif" alt="Pusheen sospechando" width="110">
    <p>Ingresá la contraseña secreta para acceder a tu regalo:</p>
  </header>

  <div class="input-group" [class.shake]="state.errorAnimation">
    <input 
      #inputPass 
      type="password" 
      placeholder="Tu contraseña..."
      (keyup.enter)="verifyPassword(inputPass)" 
    >
    <button (click)="verifyPassword(inputPass)">Entrar</button>
  </div>

  <footer class="error-container">
    @if (state.showEmptyWarning) {
      <p class="error-text">¡Ey! No ingresaste ninguna contraseña. 😾</p>
    } @else if (state.showAttemptError) {
      <p class="error-text">
          Contraseña incorrecta. Te quedan {{ config.maxAttempts - state.attempts }} intentos.
      </p>
    }
  </footer>
</article>
