<article class="card-content">
  <h1>¿Sos la verdadera Tiara? 🧐</h1> <!-- cambiar icono por img pusheen observador a futuro -->
  <p>Ingresá la contraseña secreta para acceder a tu regalo:</p>

  <div class="input-group" [class.shake]="state.errorAnimation">
    <input 
      #inputPass 
      type="password" 
      placeholder="Tu contraseña..."
      (keyup.enter)="verifyPassword(inputPass)" 
    >
    <button (click)="verifyPassword(inputPass)">Entrar</button>
  </div>


  @if (state.showEmptyWarning) {
    <p class="error-text">¡Ey! No ingresaste ninguna contraseña. 😾</p> <!-- cambiar icono por img pusheen a futuro -->
  } @else if (state.attempts > 0) {
    <p class="error-text">
        Contraseña incorrecta. Te quedan {{ config.maxAttempts - state.attempts }} intentos.
    </p>
  }
</article>