:root {
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
}

/*
   Colors 
  --bg-color: #;
  --primary-color: #;
  --text-color: #;
  --white: #;

  Typography
  --main-font: 'Arial', sans-serif;
  --heading-font: 'Georgia', serif;

  
*/