.top-nav {
  padding: 14px var(--space-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  background-color: rgba(42, 45, 79, 0.85);
  backdrop-filter: blur(10px);
  color: white; /*VER*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  position: sticky;
  top: 0;
  z-index: 100;
}

.top-nav h1 {
  white-space: nowrap;
  font-size: clamp(1.2rem, 5vw, 1.8rem);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-actions {
  display: flex;
  gap: var(--space-md);
  align-items: center;
}

.icon-btn svg {
  flex-shrink: 0;
}

.icon-btn {
  background-color: rgba(255, 255, 255, 0.1);
  color: white; /*VER*/
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 16px;
  border-radius: 20px; /* Bordes bien redonditos tipo píldora */
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  gap: 8px;
  
  transition: all 0.2s ease;
}

.icon-btn:hover {
  background-color: var(--white);
  color: #2a2d4f;
  transform: translateY(-2px);
}

.icon-btn:active {
  transform: scale(0.95);
}

.logout-btn:hover {
  color: var(--error-color);
  border-color: var(--error-color);
}

#btn-back, #btn-pause, #btn-logout {
  width: 110px;
  justify-content: center;
}

@media (max-width: 480px) {
  .top-nav h1 {
    font-weight: 600;
  }
  .nav-actions {
    gap: var(--space-sm);
  }
  svg {
    width: 18px;
    height: 18px;
  }
  #btn-back, #btn-pause, #btn-logout {
    width: 106px;
  }
}