.card {
  padding: 1.5rem 0.5rem;
  box-shadow: 0 10px 25px rgba(214, 40, 40, 0.2); 
  border: 3px solid var(--error-color);
  width: min(96%, 400px);
}

.card h1 {
  font-size: 1.8rem;
  color: var(--error-color);
}

.card p {
  color: var(--text-color);
}

.emoji-container {
  font-size: 5rem;
  margin: 1.5rem 0;
}

button {
  background-color: var(--text-color); 
  transition: background-color 0.3s, transform 0.1s; 
}

button:hover {
  background-color: var(--error-color);
}

/* =========================================
   ANIMACIÓN DE SIRENA (ALERTA ROJA)
========================================= */

.impostor-card {
  animation: sirena 1.5s ease-in-out infinite;
}

@keyframes sirena {
  0% { 
    box-shadow: 0 0 15px rgba(214, 40, 40, 0.2); 
    border-color: var(--error-color); 
  }
  50% { 
    box-shadow: 0 0 40px rgba(214, 40, 40, 0.8); 
    border-color: #ff3333; /* Este lo dejamos en hex porque es el brillo claro */
    transform: scale(1.02); 
  }
  100% { 
    box-shadow: 0 0 15px rgba(214, 40, 40, 0.2); 
    border-color: var(--error-color); 
  }
}